$subheaderColor: #888;
$projectWidth: 48%;

.wrapper {
  position: relative;

  .header { /* */ }

  .projects {
    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .project {
      width: $projectWidth;

      .title {
        font-weight: bold;
      }

      .subtitle {
        color: $subheaderColor;
      }
      
      .items {
        .item {
          /* */
        }
      }
    }
  }
}


