$titlePadding: 6px;
$descriptionColor: #333;
$subheaderColor: #888;
$projectWidth: 48%;

.wrapper {
  position: relative;

  .header { /* */ }

  .projects {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .project {
      width: $projectWidth;
      padding-bottom: 10px;

      .titleContainer {
        display: flex;
        flex-direction: row;

        .title {
          padding-right: $titlePadding;
          font-weight: bold;
          // font-size: 16px;
        }

        .subtitle {
          padding-left: $titlePadding;
          color: $descriptionColor;
          font-style: italic;
          font-size: 14px;
        }
      }

      .projectDescription {
        color: $subheaderColor;
      }

      .items {
        .item {
          /* */
        }
      }
    }
  }
}
