$subtitleColor: #888;

.wrapper {
  .header { /* */ }

  .sources {
    .source {
      .title {
        display: flex;
        flex-direction: row;

        .location {
          padding-right: 10px;
          font-weight: bold;
        }

        .rewards {
          padding-left: 10px;
        }
      }

      .subtitle {
        color: $subtitleColor;
      }

      .items {
        padding: 5px 0 15px 0;
        
        .item { /* */ }
      }
    }
  }
}

