$summaryPadding: 10px;
$subheaderColor: #888;
$bulletMargin: 50px;

.wrapper {
  .header {
    /* */
  }

  .workHistory {
    .job {
      .summary {
        display: flex;
        flex-direction: row;

        .company {
          padding-right: $summaryPadding;
          font-weight: bold;
          // font-size: 16px;
        }

        .position {
          padding-left: $summaryPadding;
          font-style: italic;
          font-size: 14px;
        }
      }

      .subtitle {
        color: $subheaderColor;
      }

      .itemList {
        .item {
          margin-left: $bulletMargin;

          .description { /* */ }
        }
      }
    }
  }
}
